<div class="col-sm-2 side-admin">
  <div class="nav-side-menu">
      <div class="brand">Brand Logo</div>
      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

          <div class="menu-list">

              <ul id="menu-content" class="menu-content collapse out">
                  <li>
                    {{#link-to 'admin'}}
                      <i class="fa fa-dashboard fa-lg"></i> Dashboard
                    {{/link-to}}
                  </li>

                   <li>
                    {{#link-to 'admin.categories'}}
                      <i class="fa fa-files-o fa-lg"></i> Categories
                    {{/link-to}}
                    </li>

                   <li>
                    {{#link-to 'admin.products'}}
                      <i class="fa fa-file-o fa-lg"></i> Products
                    {{/link-to}}
                  </li>
              </ul>
       </div>
  </div>
</div>
<div class="col-sm-10" style="padding:0">
  {{outlet}}
</div>
